<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <%- include('header'); %>
        <div class="content">
            <h1>Dashboard</h1>
            

            <div>
                <table>
                    <tr> <td>speed</td><td id="wind"></td> </tr>
                    <tr> <td>consumption</td><td id="consumption"></td> </tr>
                    <tr> <td>production</td><td id="production"></td> </tr>
                    <tr> <td>net production</td><td id="net"></td> </tr>
                    <tr> <td>buffer</td><td id="buffer"></td> </tr>
                    <tr> <td>price</td><td id="price"></td> </tr>
                    <tr> <td>Over-production ratio</td><td id="overRatio"></td> </tr>
                    <tr> <td>Under-production ratio</td><td id="underRatio"></td> </tr>
                </table>
            </div>
            <% if (!manager) {%>
            <form id="ratioForm">
                Set over-production ratio: <input type="number" name="overRatio" min=0 max=1 step=0.05>(0.0 = no power to buffer)<br>
                Set under-production ratio: <input type="number" name="underRatio" min=0 max=1 step=0.05>(0.0 =  don't take away from buffer when over-producing.)
                <input type="submit" value="Submit">
            </form>
            <% }%>
            
            <div class="profile-pic">
                <img src="/picture" alt="no picture found" onerror="this.src='/img/house.jpg';"> 
            </div>
        </div>
        
        <script>

            const id = "<%= id%>";
            const manager = <%= manager %>;
            
         

            $("#ratioForm").submit((e)=>{
                e.preventDefault();
                ratios = {over: e.target[0].value, under: e.target[1].value};
                $("#overRatio").text(`${ratios.over}`);
                $("#underRatio").text(`${ratios.under}`);
                $.post('../data/ratio/', ratios);
            });

            var weather = null;
            var consumption = null;
            var price = null;
            var production = null;
            var k = .2;
            var production = null;
            var net = null;
            var buffer;
            var ratios;

            function update() {
                $.get(manager ? "../data/weather/" + id : "../data/weather", (data, status) => {
                    weather = data;
                    $("#wind").text(`${ Math.round( weather.windspeed * 1000 + Number.EPSILON ) / 1000} ${weather.unit}`);

                    if (weather !== null){
                        production = {val: weather.windspeed * k, unit: 'kW'};
                        $("#production").text(`${Math.round( production.val  * 1000 + Number.EPSILON ) / 1000} ${production.unit}`);
                    }
                });
                $.get(manager ? "../data/consumption/" + id : "../data/consumption", (data, status) => {
                    consumption = data;
                    $("#consumption").text(`${Math.round( consumption.consumption * 1000 + Number.EPSILON ) / 1000} ${consumption.unit}`);
                    if (production !== null && consumption !== null) {
                        net = {val: production.val - consumption.consumption, unit: 'kW'};
                        $("#net").text(`${ Math.round( net.val * 1000 + Number.EPSILON ) / 1000} ${net.unit}`);
                    }
                });

                $.get("../data/price", (data, status) => {
                    price = data;
                    $("#price").text(`${price.price} ${price.unit}`);
                });

                $.get(manager ? "../data/buffer/" + id : "../data/buffer", (data, status) => {
                    buffer = data;
                    $("#buffer").text(`${Math.round( buffer.buffer  * 1000 + Number.EPSILON ) / 1000} ${buffer.unit}`);
                });
            }

            function init() {
                $.get(manager ? "../data/ratio/" + id : "../data/ratio", (data, status) => {
                    ratios = data;
                    $("#overRatio").text(`${ratios.over}`);
                    $("#underRatio").text(`${ratios.under}`);

                    setInterval(update, 5 * 1000);
                });
            }
            setTimeout(init);
        </script>
    </body>
</html>