<!DOCTYPE html>
<html>
    <head>
        
        <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <%- include('header'); %>
        <div class="content">
            <h1>Edit profile</h1>
            <% if (messages.error) { %>
                <%= messages.error %>
            <% } %>
            <form action="/profile/edit" method="POST" >
                
                <input name="username" id="username" type="text" value ="<%= locals.username %>" placeholder="username"><br>

                <!-- <label>password</label>
                <input name="password" id="password" type="password" placeholder=""><br>

                <label>confirm password</label>
                <input name="confirmpass" id="confirmpass" type="password" placeholder=""><br> -->

                <input name="lat" id="lat" type="number" placeholder="latitude"><br>

                <input name="long" id="long" type="number" placeholder="longitude"><br>

                <input type="submit" value="Edit data">
            </form>
            <form method="POST" action="/profile/upload-pic" enctype="multipart/form-data">
                <div>
                    <label>Select your profile picture:</label>
                    <input type="file" name="pic" />
                </div>
                <div>
                    <input type="submit" name="upload_pic" value="Upload" />
                </div>
            </form>
            <form action="/profile/delete" method="POST" onsubmit="return confirm('You are about to delete this account and all data associated to it forever');">
                <input type="submit" value="Delete account">
            </form>
        </div>
    </body>
</html>