
<h2>login</h2>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<form action="/login" method="POST">
    name:<input type="text" id="username" name="username"><br>
    password:<input type="password" id="password" name="password"><br>
    <button type="submit">login psw=asd</button>
</form>
<a href="/register">register</a>