<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <%- include('header'); %>
        <h1>Powerplant</h1>
        <div class="item-container">
            <div class="item">
                production: <span id="production"></span>
            </div>
            <div class="item">
                status: <span id="status"></span>
            </div>
            <div class="item">
                market demand: <span id="demand"></span>
            </div>
            <div class="item">
                electricity price: <span id="price"></span>
            </div>
            <div class="item">
                modeled electricity price: <span id="modeledPrice"></span>
            </div>
        </div>
        <p id="input_error"></p>
        Target production <input type="number" min="0" max="1000" placeholder="0-1000" id="target_production"> kW<br>
        <button id="start_button">START/UPDATE</button>
        <button id="stop_button">STOP</button>
        
        
        <div class="profile-pic">
            <img src="<%=picture%>" alt="no picture found" onerror="this.src='/img/house.jpg';"> 
            <form action="/pictureUrl" method="POST">
                Picture Url:<input type="text" id="picture" name="picture"><br>
                <button type="submit">Update picture</button>
        </div>
        

        <script>

            const id = "<%= id%>"

            $("#start_button").click((e) => {
                let target = $("#target_production")[0].valueAsNumber;
                if (!isNaN(target)) {
                    $.post("../data/powerplant/update", {target: target}, (e) => {
                        console.log(e);
                    });
                }else{
                    $("#input_error").text("please enter a number");
                }
            });

            $("#stop_button").click((e) => {
                $.post("../data/powerplant/update", {target: 0}, (e) => {
                    console.log(e);
                });
            });

            
            var price = null;
            var production = null;
            var status = null;
            var demand = null;
            var modeledPrice = null;
            

            function update() {
                
                $.get("../data/powerplant/status", (data, status) => {
                    status = data;
                    $("#status").text(`${status.status}`);
                });  

                $.get("../data/price", (data, status) => {
                    modeledPrice = data;
                    $("#modeledPrice").text(`${modeledPrice.price} ${modeledPrice.unit}`);
                });  

                $.get("../data/powerplant/production", (data, status) => {
                    production = data;
                    $("#production").text(`${production.production}`);
                }); 
            }

            update();
            setInterval(update, 5000); 
        </script>



        
    </body>
</html>