*{
    padding: 0;
    margin: 0;
}

header {
    background: grey;
    width: 100%;
}

.item-container {
    display: flex;
    flex-direction: column;
    background: rgb(233, 233, 162);
}

.item {
    font-size: 40px;
    margin: 10px;
    background: rgb(233, 132, 132);
}
.content{
    margin: 20px;
}
.content div {
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-pic > img {
    border: 2px solid black;
}

select {
    font-size: 30px;
}

.meter{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    position: relative;
}
.bar {
    background:rgb(87, 87, 173);
    width: 50%;
}
.meter > span {
    
    height: 100%;
    display:block;
    position: absolute;
}

.description {
    width: 100px;
}

td, th {
    padding:3px;
    text-align: left;
    padding-right: 10px;
    border-bottom: 1px solid rgb(197, 197, 197); 
}

table {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

tr:hover {
    background: rgb(242, 252, 197);
}